- url = @event.new_record? ? project_events_path(@project) : project_event_path(@project, @event)
- http_method = @event.new_record? ? :post : :put

= form_for @event, :url => url, :method => http_method, :class => 'form-horizontal' do |f|
  .control-group
    = f.label :title, :class => 'control-label'
    .controls
      = f.text_field :title, :class => 'text_field'
  .control-group
    = f.label :description, :class => 'control-label'
    .controls
      = f.text_area :description, :class => 'text_area'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")),
      project_events_path(@project), :class => 'btn'
